@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e293b;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: linear-gradient(to bottom right, #fdfcff, #F5F3FF, #fdfcff);
  background-attachment: fixed;
  min-height: 100vh;
  color: var(--foreground);
  font-family: var(--font-sans);
}
